
* { padding:0; margin:0; }
body { background-image:url(assets/soft_circle_scales.png); }

body {
  padding-top: 40px;
}

#images-holder, #images, #images img {
  width: 300px;
}

#images-holder {
  margin: auto auto;
  position: relative;
}

#images {
  position: relative;
}

#images img {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

img.visible {
  z-index: 100 !important;
  display: block !important;
}

#range {
  width: 100%;
  margin-top: 20px;
}

.device {
  width: 311px;
  height: 617px;
  background: #222;
  border-radius: 30px;
  position: relative;
  margin: auto auto;
}

.device .top {
  height: 32px;
  padding-top: 30px;
}

.device .middle {
  margin-bottom: 15px;
}

.device .top div,
.device .middle div,
.device .bottom div {
  margin: auto auto;
}

.earpiece {
  width: 40px;
  height: 4px;
  background: white;
  border-radius: 2px;
}

.screen {
  width: 270px;
  height: 482px;
  background: transparent;
  background-size: cover;
  position: relative;
}

.home-button {
  border-radius: 100%;
  height: 36px;
  width: 36px;
  background: #222;
  border: 2px solid white;
}

#prev, #next {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: moz-none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

#prev {
  position: absolute;
  top: 250px;
  left: -100px;
  font-size: 100px;
}

#next {
  position: absolute;
  top: 250px;
  right: -100px;
  font-size: 100px;
}